node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*
amplify/#current-cloud-backend/tags.json
amplify/#current-cloud-backend/auth/meetingapp8ca35db7/cli-inputs.json
amplify/#current-cloud-backend/auth/meetingapp8ca35db7/build/meetingapp8ca35db7-cloudformation-template.json
amplify/#current-cloud-backend/auth/meetingapp8ca35db7/build/parameters.json
amplify/#current-cloud-backend/awscloudformation/build/root-cloudformation-stack.json
amplify/#current-cloud-backend/awscloudformation/build/auth/meetingapp8ca35db7/build/meetingapp8ca35db7-cloudformation-template.json
amplify/#current-cloud-backend/awscloudformation/build/awscloudformation/build/root-cloudformation-stack.json
amplify/#current-cloud-backend/awscloudformation/build/function/S3Trigger47b5f70f/S3Trigger47b5f70f-cloudformation-template.json
amplify/#current-cloud-backend/awscloudformation/build/storage/hyple/build/cloudformation-template.json
amplify/#current-cloud-backend/function/S3Trigger47b5f70f/amplify.state
amplify/#current-cloud-backend/function/S3Trigger47b5f70f/S3Trigger47b5f70f-cloudformation-template.json
amplify/#current-cloud-backend/function/S3Trigger47b5f70f/src/event.json
amplify/#current-cloud-backend/function/S3Trigger47b5f70f/src/index.js
amplify/#current-cloud-backend/function/S3Trigger47b5f70f/src/package-lock.json
amplify/#current-cloud-backend/function/S3Trigger47b5f70f/src/package.json
amplify/#current-cloud-backend/storage/hyple/cli-inputs.json
amplify/#current-cloud-backend/storage/hyple/build/cloudformation-template.json
amplify/#current-cloud-backend/storage/hyple/build/parameters.json
amplify/.config/local-aws-info.json
amplify/.config/local-env-info.json
amplify/.config/project-config.json
amplify/backend/tags.json
amplify/backend/auth/meetingapp8ca35db7/cli-inputs.json
amplify/backend/auth/meetingapp8ca35db7/build/meetingapp8ca35db7-cloudformation-template.json
amplify/backend/auth/meetingapp8ca35db7/build/parameters.json
amplify/backend/awscloudformation/build/root-cloudformation-stack.json
amplify/backend/awscloudformation/build/auth/meetingapp8ca35db7/build/meetingapp8ca35db7-cloudformation-template.json
amplify/backend/awscloudformation/build/awscloudformation/build/root-cloudformation-stack.json
amplify/backend/awscloudformation/build/function/S3Trigger47b5f70f/S3Trigger47b5f70f-cloudformation-template.json
amplify/backend/awscloudformation/build/storage/hyple/build/cloudformation-template.json
amplify/backend/function/S3Trigger47b5f70f/amplify.state
amplify/backend/function/S3Trigger47b5f70f/S3Trigger47b5f70f-cloudformation-template.json
amplify/backend/function/S3Trigger47b5f70f/src/event.json
amplify/backend/function/S3Trigger47b5f70f/src/index.js
amplify/backend/function/S3Trigger47b5f70f/src/package-lock.json
amplify/backend/function/S3Trigger47b5f70f/src/package.json
amplify/backend/storage/hyple/cli-inputs.json
amplify/backend/storage/hyple/build/cloudformation-template.json
amplify/backend/storage/hyple/build/parameters.json
amplify/backend/types/amplify-dependent-resources-ref.d.ts
amplify/hooks/post-push.sh.sample
amplify/hooks/pre-push.js.sample
src/assets/images/사진추가.png
src/components/aws-exports.js
